*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
   border: border-box;
}  

.navbar{
    height: 64px;
    background-color:#0f1111;
    color: white;
    justify-content: space-evenly ;
    display: flex;
    align-items: center;
}
.nav-logo{
 height: 50px;
 width: 100px;
}
.logo{
    background-image: url('amazon_logo.png');
    background-size:cover ;
    height: 50px;
    width: 100%;
}

.add-first{
    /* text-align: top; */
    font-size: 0.85rem;
    color: #cccccc;
    margin: 4px;
}
.add-second{
  font-size: 1rem;
  /* text-align: ; */
  margin: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}
.border{
    border: 2px solid transparent
}
.border:hover{
    border: 1.5px solid white ;
}
.navsearch{
    display: flex;
    /* background-color: lightblue; */
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    align-items: center;
    text-align: center;
    /* font-size: 1.3rem; */
    /* justify-self: center; */
    /* background-color: #f3f3f3; */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    width: 50px;
}
.navsearch:hover{
  border: 2px solid orange;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}
.search-icon{
    /* background-color: lightblue; */
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  color: #0f1111;
}
nav-signin{

}
nav-sec{
 font-size: 0.9rem;
 font-weight: 700;
}
span{
font-size: 0.8rem;
}

.nav-cart i{
font-size: 30px;
}

.panel{
    display: flex;
    height: 40px;
  background-color: #222f3d;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.panel-options p {
    display: inline;
    margin-left: 15px;
}

.panel-options{
    width: 70%;
    font-size: 0.85rem;

}
.panel-deals{
    font-size: 1rem;
    font-weight: 700;
}

.hero-section{
    background-image: url('hero_image.jpg');
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* width: 100%; */
}
.hero-message{
    background-color: white;
    color: black;
    /* background-repeat: no-repeat; */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    /* bottom: 25px;
    position: relative; */
    width: 80%;
    margin-bottom: 25px;
}
.hero-message a{
 color: #007185;
}

/* shop-section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6; 
}
.box{
 border: 2px solid black;
height: 400px;
width: 23%;
background-color: white;/
padding:  20px 0px 15px 0px;
margin-top: 15px;

}

.box-image{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left:1rem ;
    margin-right: 1rem;
}
.box-content p{
color:#007185 ;
}
footer{
    margin-top: 15px;
}
.foot-pan1{
    color: white;
    background-color: #37475a;
    display: flex;
    /* margin-bottom:5px ; */
    font-size: 0.85rem;
    justify-content: center;
    align-items: center;
}
.foot-panel2{
    background-color: #222f3d;
  color: white;
    height: 300px;
  display: flex;
  justify-content: space-evenly;

}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white; 
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
}

.logo{
    background-image: url('amazon_logo.png');
    background-size:cover ;
    height: 50px;
    width: 100px;
}
.footpanel4{
    background-color: #0f1111;
    color: white;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size:0.9rem ;

}
.copy{
    background-color: #0f1111;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 0.8rem;
}